{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Gallery</title>
    <link rel="stylesheet" href="{% static "gallery/styles.css" %}">
</head>


<body>
    <nav>
        <a href="{% url 'image_upload' %}">Upload another Image</a>
        <a href="{% url 'image_list' %}">View all Images</a>
        <a href="{% url 'view_history' %}">View History</a>
        <a href="{% url 'personal_gallery' %}">My Gallery</a>
    </nav>
    <h1>My Personal Gallery</h1>

        <!-- Filter Bar -->
        <form method="get" class="filter" style="margin-bottom: 20px;">
            <input type="text" name="tag" placeholder="Search by tag..." value="{{ selected_tag }}">
            <button type="submit">Filter</button>
            {% if selected_tag %}
                <a href="{% url 'image_list' %}">Clear Filter</a>
            {% endif %}
        </form>
    
    {% if images %}
        

        <h2>Your have uploaded {{ images|length }} images </h2>
            <ul class="gallery">
                {% for image in images %}
                <div class="card">
                    <li><img src="{{ image.image.url }}" width="25%"></li>
                    {% if image.tags %}
                        <p><strong>Tags:</strong> {{ image.tags }}</p>
                    {% else %}
                        <p><em>No tags</em></p>
                    {% endif %}
                    
                    {% if image.id %}
                        <a href="{% url 'image_detail' image.id %}">
                        <button type="button">View Details</button>
                        </a>
                    {% endif %}
                </div>
                {% endfor %}
            </ul>

    {% else %}
        <p>You haven’t uploaded any images yet. <a href="{% url 'image_upload' %}">Upload one now</a>.</p>
    {% endif %}
</body>
</html>
