{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Gallery</title>
    <link rel="stylesheet" href="{% static "gallery/styles.css" %}">
</head>
<body>
    <h1>My Personal Gallery</h1>
    {% if images %}
    <a href="{% url 'image_upload' %}">Upload another Image</a>
    <h3>Your have uploaded {{ images|length }} images </h3>
        <ul>
            {% for image in images %}
                <li><img src="{{ image.image.url }}" width="25%"></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You haven’t uploaded any images yet. <a href="{% url 'image_upload' %}">Upload one now</a>.</p>
    {% endif %}
</body>
</html>
